<mat-divider></mat-divider>
<div fxLayout="row wrap" fxLayoutAlign="space-around" class="m-4">

  <div fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-3">
    <h1 class="mat-display-1">فروشگاه آنگولار</h1>
    <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک
      گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی
      طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.</p>
  </div>

  <div fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-3">
    <div class="mat-display-1">سرویس های ما</div>
    <mat-list>
      <mat-list-item>بازگشت وجه</mat-list-item>
      <mat-list-item>ارسال سریع</mat-list-item>
      <mat-list-item>ارسال رایگان</mat-list-item>
      <mat-list-item>گارانتی صحت کال</mat-list-item>
    </mat-list>
  </div>

  <div fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-3">
    <div class="mat-display-1">سرویس های ما</div>
    <div>برای دریافت خبرها و تخفیف های سایت ایمیل خود را وارد کنید</div>
    <div>
      <mat-form-field>
        <mat-label>ایمیل خود را وارد کنید</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">ارسال</button>
  </div>

  <div fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-3">
    <div class="mat-display-1">ارتباط با ما</div>
    <div>
      <button mat-mini-fab color="primary" class="m-1">
        <mat-icon>location_on</mat-icon>
      </button>
      ایران - تهران - کوچه اول - پلاک 1
    </div>
    <div>
      <button mat-mini-fab color="primary" class="m-1">
        <mat-icon>local_phone</mat-icon>
      </button>
      02199999999
    </div>
    <div>
      <button mat-mini-fab color="primary" class="m-1">
        <mat-icon>email</mat-icon>
      </button>
      angulareshop@gmail.com
    </div>
    <br>
    <div>
    </div>

  </div>

</div>
