<div class="m-3">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div>{{product.productName}}</div>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip color="accent" selected>جدید</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <img src="assets/images/product/large-size/1.jpg">
    <mat-card-content>
      <br>
      <p>{{product.shortDescription}}</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <span>{{product.price}} تومان</span>
      <button mat-stroked-button color="primary">افزودن به سبد خرید</button>
    </mat-card-actions>
  </mat-card>
</div>



