<div class="main-container">
  <mat-toolbar color="primary" class="menu-toolbar">

    <div fxLayoutAlign="start center" fxFlex>
      <button mat-icon-button (click)="nav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex="40" fxLayoutAlign="center center">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <mat-form-field fxFlex><input matInput placeholder="چی میخوای بخری ؟"></mat-form-field>
    </div>

    <div fxLayoutAlign="end center" fxFlex>
      <mat-icon>wb_sunny</mat-icon>
      <mat-slide-toggle (change)="changetheme($event)"></mat-slide-toggle>
      <mat-icon>brightness_3</mat-icon>
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </div>


  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #nav mode="over" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item>item of menu</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      محتوای سایت
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<router-outlet></router-outlet>
